table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid #ddd;
}

th {
    background: #FFD2BD;
    padding: 8px;
    text-align: center;
    border-bottom: 2px solid #ddd;
    width: 220px;
}

.actions {
    width: 100px;
}

tr:hover {
    background-color: #ffdf8d;
}